$schemes: mikumiku, melt, loveiswar, syousitu, worldismine, popipo,
    romeoandcinderella, ichikyuunigo, matryoshika, deepseagirl, strobelight,
    karakuripierrot, senbonzakura, tellyourworld, oddsandends,
    brainfluidexplosiongirl, atgodsmercy, taleofthedeepsealily, slowmotion,
    lovetrial, patchworkstaccato, hibikase, aishite, ghostrule, alienalien,
    imperialgirl, kimaguremercy, whitehappy, sandplanet, hibana,
    hatedbylifeitself, unknownmothergoose, shoujorei, bitterchocodecoration,
    darlingdance, vampire, gXodish, anonymousm, hero;
$scheme-colors: (
    background: (
        #fefefe,
        #55f7eb,
        #c1d2e2,
        #dfebd3,
        #c31ca2,
        #e1fdf5,
        #fd4994,
        #dae4e4,
        #fe9a00,
        #d3e9f2,
        //
        #f9f2ab,
        #731d2f,
        #fddfab,
        #000012,
        #f4be3d,
        #f1f1f1,
        #fff6c8,
        #c1f7ff,
        #bdfed8,
        #fdefee,
        //
        #f8f3f9,
        #0100fb,
        #10000c,
        #1e1060,
        #ec3f40,
        #000013,
        #d6265c,
        #000000,
        #ebc496,
        #090009,
        //
        #a5a5a5,
        #f9f9f9,
        #afdcfd,
        #292929,
        #ff01a1,
        #e70012,
        #8e8e8e,
        #18f0f3,
        #050db2,
    ),
    button: (
        #000000,
        #007398,
        #000000,
        #697b7e,
        #292137,
        #000000,
        #000000,
        #000000,
        #000000,
        #4793ba,
        //
        #615b49,
        #221115,
        #331208,
        #f0eff8,
        #010003,
        #000000,
        #5c202e,
        #144895,
        #09928f,
        #512f49,
        //
        #5f585e,
        #3cd9ff,
        #ee0021,
        #fc22fe,
        #22221f,
        #000272,
        #00264f,
        #fefefe,
        #383544,
        #fefefe,
        //
        #020202,
        #363635,
        #4862b0,
        #fafafa,
        #fdedf7,
        #fcffff,
        #000000,
        #000001,
        #1febff,
    ),
    seekbar-left: (
        #000000,
        #007398,
        #000000,
        #697b7e,
        #292137,
        #000000,
        #020000,
        #000000,
        #000000,
        #4793ba,
        //
        #615b49,
        #221115,
        #331208,
        #f0eff8,
        #010003,
        #000000,
        #5c202e,
        #144895,
        #ff2d2e,
        #512f49,
        //
        #5f585e,
        #3cd9ff,
        #ee0021,
        #fc22fe,
        #22221f,
        #000272,
        #00264f,
        #fefefe,
        #383544,
        #fefefe,
        //
        #020202,
        #363635,
        #4862b0,
        #fafafa,
        #fdedf7,
        #0d1d41,
        #000000,
        #f50840,
        #1febff,
    ),
    seekbar-right: (
        #bbbbbb,
        #d3ffff,
        #0bedeb,
        #cad1cb,
        #705b96,
        #41b09e,
        #020000,
        #000000,
        #ffffff,
        #4793ba,
        //
        #615b49,
        #ffffff,
        #331208,
        #f0eff8,
        #fbf6c2,
        #000000,
        #5c202e,
        #ecfeff,
        #fbfefe,
        #c8b5bb,
        //
        #a29aa3,
        #3cd9ff,
        #ee0021,
        #fc22fe,
        #f9a3a4,
        #000272,
        #defbff,
        #fefefe,
        #fbebe0,
        #fefefe,
        //
        #020202,
        #363635,
        #d5f2ff,
        #fafafa,
        #fdedf7,
        #fdb027,
        #971b21,
        #cefefd,
        #050db2,
    ),
    seekbar-button: (
        #000000,
        #007398,
        #000000,
        #697b7e,
        #292137,
        #000000,
        #000000,
        #000000,
        #000000,
        #4793ba,
        //
        #615b49,
        #221115,
        #331208,
        #f0eff8,
        #010003,
        #000000,
        #5c202e,
        #144895,
        #ff2d2e,
        #512f49,
        //
        #5f585e,
        #3cd9ff,
        #ee0021,
        #fc22fe,
        #22221f,
        #000272,
        #00264f,
        #fefefe,
        #383544,
        #fefefe,
        //
        #020202,
        #363635,
        #4862b0,
        #fafafa,
        #fdedf7,
        #0d1d41,
        #000000,
        #f50840,
        #1febff,
    ),
);

@each $scheme in $schemes {
    // テーマごとのクラスを作成
    .#{$scheme}-theme {
        // 色を定義
        @each $name, $colors in $scheme-colors {
            $color: nth($colors, index($schemes, $scheme));
            $r: red($color);
            $g: green($color);
            $b: blue($color);
            --#{$name}-color: #{$color};
            --#{$name}-r-color: #{$r};
            --#{$name}-g-color: #{$g};
            --#{$name}-b-color: #{$b};
            --#{$name}-rgb-color: #{$r, $g, $b};
        }
    }
}
